body {
    margin: 0;
    padding: 0;
    background-color: #f3f2ef;
    position: relative;
}

.topbar {
    top: 0;
    position: fixed;
    z-index: 500;
    background-color: #ffffff;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    border: solid 0.1px #d8d7d7;
    padding: 1px;
}

.logo {

    margin-top: 5px;
    width: 38;
    height: 38px;
    margin-left: 70px;
}

.lefttopbar {
    margin-left: 130px;
    display: flex;
    float: left;
    width: 400px;
    height: 45px;
}

.righttopbar {
    position: fixed;
    width: 600px;
    display: flex;
margin-left: 50%;
    float: right;
    text-align: left;
}

.globalsearch_div {
    margin-left: 15px;
    padding: 0;
    margin-top: 11px;
    height: 30px;
    color: #b0afaf;
    background-color: #e4e4e4;
    border-radius: 3px;
}

.globalsearch_div:focus {
    border: solid 2px;
    border-color: black;
}

.globalsearch {
    background: none;
    outline: none;
    border: none;
    width: 230px;
    height: 29px;
}

.globalsearch:focus {
    width: 330px;
    transition: 1s;
}

.navicondiv {
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    margin-top: 3px;
    color: #868686;
    cursor: pointer;
}

.navicondiv label {
    cursor: pointer;
}

.navicondiv:hover {
    color: black;
}

.navicon h3 {
    font-size: 7px;
    margin-top: 9px;
    font-weight: 400;
}

.topbartext {
    width: 160px;
    margin-left: 7px;
    margin-top: 13px;
    display: flex;
    color: #919191;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}

.topbartext:hover {
    text-decoration: underline;
}

.topbarend {
    display: flex;
    justify-content: right;
    width: 400px;
    height: auto;
    padding-left: 20px;
    border-left: solid;
    border-color: #dedede;
    border-width: 1px;
}

.mainbody {
    width: 100%;
    height: auto;
    background-color: #f3f2ef;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.leftbody {

    float: left;
    width: 220px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bannerimg {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: fill;

}

.feed {
    position: relative;
    margin-left: 20px;
    float: left;
    border: none;
    width: 550px;
    border-radius: 10px;
}

.rightbody {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-radius: 10px;
    height: 700px;
    width: 270px;
}

.news {
    background-color: white;
    border: solid 1px #d9d9d9;
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.rightads {
    position: sticky;
    justify-content: center;
    margin-top: 7px;
    background-color: white;
    border: solid 1px #d9d9d9;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.propicdiv {
    border: solid 2px #d9d9d9;
    border-radius: 50%;
    position: absolute;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.propic {
    border-radius: 50%;
    position: absolute;
    height: 100%;
    width: 100%;
}

.prodetails {
    background-color: #ffffff;
    border-left: solid 1px #d9d9d9;
    border-right: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
    border-top: 0;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: serif;
    font-size: 13PX;
}

.postpro span {
    color: #6e6e6e;
    font-size: 14px;
}


.prodetails p {
    color: #868686;
}

.prodetails h2:hover {
    text-decoration: underline #5d5dd6;
}

.alumini {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    width: 100%;
    border-left: solid 1px #d9d9d9;
    border-right: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
    border-top: 0;
    text-align: left;
    padding-left: 20px;
}

.alumini:hover {
    background-color: #e1e1e1;
}

.alumini p {
    float: left;
    color: #959595;
}

.alumini span {
    float: left;
    font-size: 13px;
    color: black;
}

.alumini a {
    margin-top: 5px;
    margin-right: 10px;
    text-decoration: none;
    float: right;
    color: #666666;
}

.leftadd {
    background-color: #ffffff;
    text-align: left;
    width: 100%px;
    height: auto;
    padding: 10px;
    color: #666666;
    font-size: 13px;
    border-left: solid 1px #d9d9d9;
    border-right: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
    border-top: 0px;
}

.leftadd:hover {
    background-color: #e1e1e1;
}

.square {
    font-weight: bolder;
    float: left;
    color: coral;
}

.leftadd .square {
    padding-right: 6px;
    font-size: 15px;
}

.blue:hover {
    color: #3939f9;
}

.try {
    font-weight: bolder;
    font-size: 13px;
    float: left;
}

.items {
    background-color: #ffffff;
    text-align: left;
    width: 99%;
    height: fit-content;
    border-left: solid 1px #d9d9d9;
    border-right: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.items:hover {
    background-color: #e1e1e1;
}

.tag {
    background: none;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    font-size: 20px;
}

.tag:hover {
    background-color: #e1e1e1;
}

.tagtext {
    float: left;
}

.discover {
    background-color: #ffffff;
    position: sticky;
    top: 50px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    border: solid 1px #d9d9d9;
    border-radius: 10px;
    text-align: left;
}

.plus {
    float: right;
    margin-right: 10px;
    margin-top: 20%;
    font-size: 13px;
    font-weight: bolder;
    color: #666666;
}

.discover p {
    margin: 13px;
    font-size: 13px;
    color: #0a66c2;
    font-weight: bold;
}

.discover p:hover {
    text-decoration: underline;
}

.more {
    font-size: small;
    height: 50px;
    width: 100%;
    text-align: center;
    color: #868686;
    margin-bottom: 0;
    border-top: solid 1px #d9d9d9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.more:hover {
    background-color: #e1e1e1;
}

.newpost {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 120px;
    border: solid 1px #d9d9d9;
    border-radius: 10px;
}

.newpostimage {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: none;
    margin: 15px;
    float: left;
}

.newpostbutton {
    text-align: left;
    padding-left: 25px;
    float: left;
    margin-top: 15px;
    height: 45px;
    width: 80%;
    border-radius: 50px;
    border: #868686 solid 1px;
}

.newpost_subBtns {
    display: flex;
    justify-content: space-around;
    text-align: left;
    width: 96%;
    height: 35px;
}

.newpost_subBtns label {
    margin-top: 5px;
    float: right;
    padding-left: 10px;
    color: #868686;
}

.subbtn {
    border: none;
    background: none;
    border-radius: 5px;
}

.subbtn:hover {
    background-color: #e6e6e6;
}

.photo {
    color: #378fe9;
}

.video {
    color: #5f9b41;
}

.event {
    color: #c37d16;
}

.article {
    color: #e16745;
}

.hrdiv {
    position: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hrdiv hr {
    float: left;
    width: 100%;
    color: #e1e1e1;
    margin-top: 25px;
    margin-bottom: 15px;
}

.sort {
    font-weight: bold;
    font-size: 13px;
    width: 65px;
    max-width: 80px;
    margin-top: 9px;
    border: none;
    background: none;
    outline: none;
}

.sortby {
    margin-left: 8px;
    margin-top: 15px;
    font-size: 15px;
    width: 65px;
    color: #868686;
}

.sort:hover {
    border: none;
    outline: none;
}

.post {
    background-color: white;
    margin-top: 28px;
    margin-bottom: 10px;
    border: solid 1px #e1e1e1;
    border-radius: 10px;
    width: 100%;
    height: 575px;

}

.post_head {
    background-color: white;
    width: 100%;
    height: auto;

}

.post_propic {
    margin: 10px;
    width: 50px;
    height: 50px;
    float: left;
}

.post_propic img {
    width: 100%;
    height: auto;
}

.postbody {
    padding-top: 15px;
    float: left;
}

.postbody img {
    width: 100%;
    height: auto;
}

.postpro {
    margin-top: 10px;
    float: left;
    font-size: small;
}

.postpro p {
    padding: 0;
    margin: 0;
}

.postpro p3 {
    float: left;
}



.option {
    text-align: center;
    display: flex;
    justify-content: center;
    float: right;
    width: 27px;
    height: 27px;
    margin: 15px;
    border-radius: 50%;
    border: none;
    color: #8e8e8e;
}

.option:hover {
    background-color: #e1e1e1;
}

.discr {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
    width: 100%;
    height: auto;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.counts {
    width: 100%;
    height: 20px;
}

.love {
    margin-left: 5px;
    font-size: 10px;
    float: left;
    border-radius: 40px;
    border: solid 2px red;
    color: red;
}

.counts p {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    color: #919191;
    font-size: small;
}

.cmtc {
    color: #919191;
    font-size: small;
    float: right;
    margin-right: 15px;
}

.uline {
    margin-top: 20px;
    width: 95%;
    color: #ececec;
    opacity: 40%;
}

.likebar {
    padding: 0;
    position: relative;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
}

.likebar label {
    height: 31px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.likebar label:hover {
    background-color: #d9d9d9;

}

.recomment {
    background-color: white;
    display: block;
    border: solid 1px #d9d9d9;
    border-radius: 10px;
    width: 1005;
    height: auto;
}

.rectop {
    color: #b5b5b5;
    width: 100%;
    height: 35px;
    border-bottom: solid 1px #d9d9d9;
}

.rectop a {
    margin-left: 20px;
    margin-top: 300px;
    font-size: small;
}

.btn {
    display: flex;
    justify-content: center;
    background-color: white;
    float: right;
    width: 26px;
    height: 26px;
    margin: 7px;
    margin-right: 15px;
    border-radius: 50%;
    border: none;
    color: #8e8e8e;
    cursor: pointer;
}
.btn:hover {
    background-color: #e3e3e3;
}


.recbody {
    display: inline-block;
    width: 100%;
    height: auto;
}

.rec {
    width: 100%;
    height: 90px;
    border-bottom: solid 1px #d9d9d9;
}

.recfoot {
    height: 35px;
    color: #378fe9;
    font-size: large;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.recfoot:hover {
    background-color: #bcdeff;
}

.recfoot {
    padding: 0;
    margin: 0;
}

.follow {
    width: 90px;
    height: 30px;
    margin: 10px;
    float: right;
    border: solid 2px #5394d5;
    border-radius: 20px;
    color: #0a66c2;
    font-weight: bolder;
    font-size: medium;
}

.follow:hover {
    transition: 1s;
    background-color: #bcdeff;
    border-width: 3px;
}

.recproimg {
    float: left;
    padding-right: 10px;
    margin-top: 15px;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 3px;
}

.rec p {
    font-weight: bold;
}

.newsdiv {
    background-color: white;
    border-radius: 10px;
}

.news {
    width: 100%;
    height: 45px;
    border: 0;
    padding-top: 7px;

}

.news:hover {
    background-color: #d9d9d9;
}

.newsbtn {
    color: #969696;
    font-size: medium;
    display: flex;
    justify-content: center;
    margin: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background: none;
}

.newsbtn:hover {
    background-color: #dfdfdf;
}

ul {
    margin: 0;
    list-style: circle;
}

.newsdiv p {
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.newsdiv li {
    font-weight: 550;
    font-size: 14px;
}

.addflw {
    position: absolute;
    bottom: 10px;
    margin-left: 90px;
    width: 90px;
    height: 30px;
    border: solid 1px #5394d5;
    border-radius: 20px;
    color: #0a66c2;
    font-weight: bolder;
    font-size: medium;
}

.addflw:hover {
    transition: 1s;
    background-color: #bcdeff;
    border-width: 3px;
}

.rightads p {
    margin-left: 25px;
    margin-top: 35px;
    font-size: 14px;
    color: #a5a5a5;
    text-align: center;
}

.Raddimg {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Raddimg img {
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 3px;
}

.about {
    position: relative;
    padding-top: 25px;
    color: #5a5a5a;
    font-size: 10px;
    width: 100%;
    cursor: pointer;
}

.about ul {
    list-style: none;
}

.about li {
    float: left;
    margin-left: 7px;
}

.about li:hover {
    color: #378fe9;
    text-decoration: underline;
}

.about i {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 900;
}

.cpyrt {
    width: 100%;
    height: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.blue {
    color: #0a66c2;
}

.white {
    margin-left: 1px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #0a66c2;
    color: white;
    margin-right: 5px;
}